<h2>Exercises</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Intensity</th>
    <th>Time</th>
  </tr>
  {{#each exercises}}
  <tr>
    <td>{{name}}</td>
    <td>{{intensity}}</td>
    <td>{{time}}</td>
  </tr> 
  {{/each}}
</table>
