<nav>
  <ul>
    <li class="logo"><a href="/">Exercise like a Boss</a></li>
    <li><a href="/exercises">Discover</a></li>
    <li><a href="/exercise_programs">My Exercise Programs</a></li>
    <li><a href="/exercise_categories">Categories</a></li>
  </ul>
</nav>

<div class="app-form"></div>

<div class="app-content"></div>
