<h2>Exercise Programs</h2>

<table>
  <tr>
    <th>Name</th>
    <th>difficulty</th>
    <th>description</th>
  </tr>
  {{#each exercise_programs}}
  <tr>
    <td>{{name}}</td>
    <td>{{difficulty}}</td>
    <td>{{description}}</td>
  </tr> 
  {{/each}}
</table>
